.row.justify-content-center
  h1 #{currentLocation.to.station}
.row.justify-content-center
  | angekommen um #{currentLocation.date} #{currentLocation.to.time}
.row.justify-content-center
  | #{username} kam dabei aus #{currentLocation.from.station} mit dem #{currentLocation.train} und ist um #{currentLocation.from.time} los gefahren
