.row.justify-content-center
  h1 #{currentLocation.train}
.row.justify-content-center
  | mit dem Ziel #{currentLocation.to.station} welches Vorraussichtlich um #{currentLocation.to.time} erreicht wird.
.row.justify-content-center
  | los gefahren ist #{username} in #{currentLocation.from.station} um #{currentLocation.from.time}
